/*----- Global -----*/

:root {
    --max-width: 1000px;
    --orange: #F89150;
    --dark-grey: #2C2C2C;
    --grey: #403A3A;
    --dark-grey-opacity: rgba(44, 44, 44, 0.979);
    --header-gradiant-overlay: linear-gradient(
        rgba(146, 131, 93, 0.3), 
        rgba(146, 131, 93, 0.3));
    --grid-gradiant-overlay: linear-gradient(
        rgba(44, 44, 44, 1), 
        rgba(44, 44, 44, 1));
}

/* 
font-family: 'Englebert', sans-serif; */

body {
    margin: 0;
}

h1 {
    font-family: 'Chela One', cursive;
}

h2 {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: .75rem;
    line-height: 1.1rem;
}

a {
    text-decoration: none;
}

p,
h2,
h3,
h4,
h5,
a {
    font-family: 'PT Sans', sans-serif; 
    color: var(--dark-grey);
    letter-spacing: .02rem;
}

article.basic-styling {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding: 3rem 0;
}

.btn {
    border: none;
    border-radius: 20px 20px;
    font-size: 1rem;
    padding: .7rem 5rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

figure {
    margin: 0;
}

/*--x-- Global --x--*/


/*----- Main nav -----*/
nav {
    background: var(--dark-grey-opacity);
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all .3s ease;
}

body.menu-open nav {
    transform: translateY(0%);
}

nav a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: 1.6rem 0; 
    font-weight: 700;
    opacity: 0;
    transition: all .6s ease;
    transform: translateX(-10rem);
}

body.menu-open nav a {
    transform: translateX(0);
    opacity: 1;
}

body.menu-open nav a:nth-child(1) {
    transition-delay: .2s;
} 

body.menu-open nav a:nth-child(2) {
    transition-delay: .3s;
} 

body.menu-open nav a:nth-child(3) {
    transition-delay: .4s;
} 


/*--x-- Main nav --x--*/

/*----- Menu bar -----*/
.top-menu {
    position: absolute;
    right: 0;
    padding: 2rem;
    z-index: 9999;
}

.top-menu img {
    width: 50px;
}

/*----- Main header -----*/
header.main-header {
    background:  var(--header-gradiant-overlay),
    url(../img/header-small.jpg) no-repeat #F89150;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.main-header h1 {
    font-size: 4.5rem;
    text-align: center;
    color: white;
    letter-spacing: .3rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.1);
    line-height: 5.5rem;
    margin: 0;
    padding: 1rem;
    padding-top: 8rem;
}

aside.social-media-header {
    display: flex;
    justify-content: center;
}

.social-media-header ion-icon{
   font-size: 2.5rem;
   padding: .5rem;
   color: white;
   text-shadow: 0 0 .5rem rgba(0,0,0,.1);
}

/*--x-- Main header --x--*/


/*----- Article Top Crafts Grid -----*/
article.top-crafts {
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

article.top-crafts h2{
    text-align: center;
}

section.crafts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
}

section.crafts-grid article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.crafts-grid article h3 {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.2);
}

section.crafts-grid figure {
    margin: 0;
    padding: 0;
}

section.crafts-grid figure img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(.7);
}

section.go-to-all-crafts {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

section.go-to-all-crafts img {
    width: 20px;
    height: 20px;
    padding-left: .5rem;
}

.grid-desktop-only {
    display: none !important;
}

.grid-desktop-only h3 {
    justify-self: center;
}


/*--x-- Article Top Crafts --x--*/


/*----- Article Hot Chocolate -----*/
article.hot-chocolate {
    background: var(--orange);
    /* display: flex;
    flex-direction: column; */
}

article.hot-chocolate p {
    padding: 0 2rem;
}

article.hot-chocolate figure {
   margin: 0;
   padding: 2rem;   
}

article.hot-chocolate figure img {
    border-radius: 5% 5%;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

article.hot-chocolate button {
    margin: 0 2rem;
    background: white;
    
}

/*--x-- Article Hot Chocolate --x--*/


/*----- Article Subscribe -----*/
article.subscribe {
    background: var(--dark-grey);
    text-align: center;
}

article.subscribe h2,
article.subscribe p,
article.subscribe a {
    color: white;
}

article.subscribe p {
    padding: 0 3rem; 
}

article.subscribe .btn {
    background: var(--orange);
    margin-top: 3rem;
}

/*--x-- Article Subscribe --x--*/

/*----- Recipe -----*/

.recipe {
    padding: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

.recipe .ingredients,
.instructions {
    padding: 1rem 2rem 0 2rem;
}

.recipe-header {
    padding-bottom: 1rem;
}

.recipe-title {
    text-align: center;
    font-family: 'Englebert', sans-serif;
    padding-bottom: .5rem;
}

.recipe-header figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.recipe-header figure p {
    color: var(--orange);
    margin: 0;
}

.recipe-header ion-icon {
    color: var(--orange);
}

.hot-chocolate-img {
    padding: 2rem;
}

.hot-chocolate-img img{
    width: 100%;
}

aside.share-options {
    text-align: center;
    font-size: 2rem;
    color: var(--dark-grey);
}
aside.share-options ion-icon {
    padding: 0 1rem;
}

.recipe h4 {
    text-align: center;
}

section.ingredients {
    text-align: center;
}

span.italic {
    font-style: italic;
}
section.instructions h6 {
    background-color: var(--orange);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'PT sans', sans-serif;
    font-size: 1rem;
    margin: .8rem 0 0 0;
}

.instructions article {
    display: flex;
    gap: 1rem;
}

.instructions p {
    max-width: 80%;
}

/*--x-- Recipe --x--*/


/*----- Main Footer -----*/
footer {
    background: var(--grey);
}

footer h5 {
    margin: 0;
    padding-bottom: 1rem;
    color: white;
}

footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

footer .social-media ion-icon {
    color: white;
    padding: 0 .5rem;
    font-size: 1.5rem;
}
/*--x-- Main Footer --x--*/


/*----- RESPONSIVE DESIGN -----*/

/* Tablet */
@media screen and (min-width: 480px) {

    section.crafts-grid  {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-desktop-only {
        display: grid !important;
    }
}

/* Desktop */
@media screen and (min-width: 760px) {

    .white-space {
        background: white;
        height: 4rem;
        transform: translateY(-3.9rem);
    }

    .top-crafts.basic-styling {
        padding-top: 0;
    }

    .top-crafts h2 {
        transform: translateY(-3rem);
    }

    .crafts-grid {
        transform: translateY(-1.5rem);
    }

    header.main-header {
        height: 80vh;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    section.crafts-grid  {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-desktop-only {
        display: grid !important;
    }

    article.subscribe p {
        max-width: 30%; 
        margin: 0 auto;
        padding: 1em 0;
    }

    .btn {
        padding: .7rem 2rem;
    }

    article.hot-chocolate {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
    }

    article.hot-chocolate figure {
        order: 1;
        grid-row: 1 / 3;
    }

    article.hot-chocolate section {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: flex-end;
    }

    article.hot-chocolate button {
        align-self: center;
    }


    /* Recipe page */

    .white-space {
        background: white;
        height: 4rem;
        transform: translateY(-3.9rem);
    }

    .recipe.basic-styling {
        padding-top: 0;
    }

    .recipe header {
        transform: translateY(-1.5rem);
    }

    .recipe h2 {
        font-size: 2.5rem;
    }



  




    
    


}