/*----- Global -----*/

:root {
    --max-width: 1000px;
    --orange: #F89150;
    --dark-grey: #2C2C2C;
    --grey: #403A3A;
    --header-gradiant-overlay: linear-gradient(
        rgba(146, 131, 93, 0.3), 
        rgba(146, 131, 93, 0.3));
    --grid-gradiant-overlay: linear-gradient(
        rgba(44, 44, 44, 1), 
        rgba(44, 44, 44, 1));
}

/* 
font-family: 'Englebert', sans-serif; */

body {
    margin: 0;
}

h1 {
    font-family: 'Chela One', cursive;
}

h2 {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0;
}

p {
    font-size: .75rem;
    line-height: 1.1rem;
}

p,
h2,
h3,
h4,
h5,
a {
    font-family: 'PT Sans', sans-serif; 
    color: var(--dark-grey);
    letter-spacing: .02rem;
}

article.basic-styling {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding: 3rem 0;
}

.btn {
    border: none;
    border-radius: 20px 20px;
    font-size: 1rem;
    padding: .7rem 5rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*--x-- Global --x--*/


/*----- Main nav -----*/
nav {
    background: pink;
    position: fixed;
}

/*--x-- Main nav --x--*/

/*----- Menu bar -----*/
.top-menu {
    position: absolute;
    right: 0;
    padding: 2rem;
}

/*----- Main header -----*/
header.main-header {
    background:  var(--header-gradiant-overlay),
    url(../img/header-small.jpg) no-repeat #F89150;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-header h1 {
    font-size: 4.5rem;
    text-align: center;
    color: white;
    letter-spacing: .3rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.2);
    line-height: 5.5rem;
    margin: 0;
    padding: 1rem;
}

aside.social-media-header {
    display: flex;
    justify-content: center;
}

.social-media-header ion-icon{
   font-size: 2.5rem;
   padding: .5rem;
   color: white;
}

/*--x-- Main header --x--*/


/*----- Article Top Crafts -----*/
article.top-crafts {
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

article.top-crafts h2{
    text-align: center;
}

section.crafts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

section.crafts-grid article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.crafts-grid article h3 {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.2);
}

section.crafts-grid figure {
    margin: 0;
    padding: 0;
}

section.crafts-grid figure img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
}

section.go-to-all-crafts {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

section.go-to-all-crafts img {
    width: 20px;
    height: 20px;
    padding-left: .5rem;
}

/*--x-- Article Top Crafts --x--*/


/*----- Article Hot Chocolate -----*/
article.hot-chocolate {
    background: var(--orange);
}

article.hot-chocolate p {
    padding: 0 2rem;
}

article.hot-chocolate figure {
   margin: 0;
   padding: 2rem;   
}

article.hot-chocolate figure img {
    border-radius: 5% 5%;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

article.hot-chocolate button {
    margin-left: 2rem;
    background: white;
}

/*--x-- Article Hot Chocolate --x--*/


/*----- Article Subscribe -----*/
article.subscribe {
    background: var(--dark-grey);
    text-align: center;
}

article.subscribe h2,
article.subscribe p,
article.subscribe a {
    color: white;
}

article.subscribe p {
    padding: 0 3rem; 
}

article.subscribe .btn {
    background: var(--orange);
}

/*--x-- Article Subscribe --x--*/


/*----- Main Footer -----*/
footer {
    background: var(--grey);
}

footer h5 {
    margin: 0;
    padding-bottom: 1rem;
    color: white;
}

footer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

footer .social-media ion-icon {
    color: white;
    padding: 0 .5rem;
}
/*--x-- Main Footer --x--*/