/*----- Global -----*/

:root {
    --max-width: 1000px;
    --orange: #F89150;
    --dark-grey: #2C2C2C;
    --grey: #403A3A;
    --dark-grey-opacity: rgba(44, 44, 44, 0.979);
    --header-gradiant-overlay: linear-gradient(
        rgba(146, 131, 93, 0.3), 
        rgba(146, 131, 93, 0.3));
    --grid-gradiant-overlay: linear-gradient(
        rgba(44, 44, 44, 1), 
        rgba(44, 44, 44, 1));
}

body {
    margin: 0;
}

h1 {
    font-family: 'Chela One', cursive;
    font-size: 4.5rem;
    text-align: center;
    color: white;
    letter-spacing: .3rem;
    text-shadow: 0 0 .5rem rgba(0,0,0,.1);
    line-height: 5.5rem;
    margin: 0;
    padding: 1rem;
    padding-top: 8rem;
}

h2 {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: .75rem;
    line-height: 1.1rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
h2,
h3,
h4,
h5, 
a
 {
    font-family: 'PT Sans', sans-serif; 
    color: var(--dark-grey);
    letter-spacing: .02rem;
}

article.basic-styling {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    padding: 3rem 0;
}

.btn {
    border: none;
    border-radius: 20px 20px;
    font-size: 1rem;
    padding: .7rem 5rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 1rem;   
    color: white;
    transition-duration: .4s;
}

figure {
    margin: 0;
}

/*--x-- Global --x--*/


/*----- Main nav -----*/

nav {
    background: var(--dark-grey-opacity);
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all .3s ease;
}

body.menu-open nav {
    transform: translateY(0%);
}

/* Transforming menu icon to X */
body.menu-open .menu-middle-line {
    opacity: 0;
    transition: all .2s ease;
} 

body.menu-open .menu-first-line {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 25%;
    -webkit-transform-origin: 25%;
    transition: all .3s ease;
} 

body.menu-open .menu-last-line {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 25%;
    -webkit-transform-origin: 25%;
    transition: all .3s ease;  
} 

/*To make X back to hamburger in Safari Browser*/
.menu-first-line {
    transform: rotate(0);
    -webkit-transform: rotate(0);
} 

.menu-last-line {
    transform: rotate(0);
    -webkit-transform: rotate(0);
} 

nav a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: 1.6rem 0; 
    font-weight: 700;
    opacity: 0;
    transition: all .6s ease;
    transform: translateX(-10rem);
}

body.menu-open nav a {
    transform: translateX(0);
    opacity: 1;
}

body.menu-open nav a:nth-child(1) {
    transition-delay: .2s;
} 

body.menu-open nav a:nth-child(2) {
    transition-delay: .3s;
} 

body.menu-open nav a:nth-child(3) {
    transition-delay: .4s;
} 

/*--x-- Main nav --x--*/


/*----- Menu bar -----*/

.top-menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem;
    z-index: 9999;
}

/*--x-- Menu bar --x--*/


/*----- Hero -----*/

.hero {
    background: url(../img/header-small.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;   
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column; 
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(146, 131, 93, 0.3);
    z-index: initial;
}

.social-media-hero {
    z-index: 9;
}

.social-media-hero ion-icon{
    font-size: 2.5rem;
    padding: .5rem;
    color: white;
    text-shadow: 0 0 .5rem rgba(0,0,0,.1);
 }

 .hero-heading {
     z-index: 55;
 }
 
/*--x-- Hero --x--*/


/*----- Article Top Crafts Grid -----*/

article.top-crafts {
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

.top-crafts h2 {
    text-align: center;
}

.crafts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.grid-desktop-only {
    display: none !important;
}

.grid-box-1 {
    background: url(../img/craft-1.jpg) no-repeat;
}

.grid-box-2 {
    background: url(../img/craft-2.jpg) no-repeat;
}

.grid-box-3 {
    background: url(../img/craft-3.jpg) no-repeat;
}

.grid-box-4 {
    background: url(../img/craft-4.jpg) no-repeat;
}

.grid-box-5 {
    background: url(../img/craft-5.jpg) no-repeat;
}

.grid-box-6 {
    background: url(../img/craft-6.jpg) no-repeat;
}

.crafts-grid-boxes {
    width: 100%;
    min-height: 20rem;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.7rem;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.521);
    font-family: 'PT sans', sans-serif;
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;  
    position: relative;
}

.background-filter::before { 
    backdrop-filter: brightness(60%);
    -webkit-backdrop-filter: brightness(60%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.crafts-grid-boxes-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-all-crafts {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.go-to-all-crafts img {
    width: 20px;
    height: 20px;
    padding-left: .5rem;
}

.keyframe-moving-arrows {
    animation: moving-arrows .7s ease-in-out infinite alternate;
}

/*Makes arrows move*/
@keyframes moving-arrows {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

/*--x-- Article Top Crafts --x--*/


/*----- Article Hot Chocolate -----*/

article.hot-chocolate {
    background: var(--orange);
}

.hot-chocolate p {
    padding: 0 2rem;
}

.hot-chocolate figure {
   margin: 0;
   padding: 2rem;   
}

.hot-chocolate figure img {
    border-radius: 5% 5%;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

.btn-white {
    background: white;
    margin-left: 2rem;
    color: var(--dark-grey);
}

/*--x-- Article Hot Chocolate --x--*/


/*----- Article Subscribe -----*/

article.subscribe {
    background: var(--dark-grey);
    text-align: center;
}

.subscribe h2,
.subscribe p,
.subscribe a {
    color: white;
}

.subscribe p {
    padding: 0 3rem; 
}

.btn-orange {
    background: var(--orange);
}

/*--x-- Article Subscribe --x--*/


/*----- Recipe Page -----*/

.recipe {
    padding: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0, .1);
}

.ingredients,
.instructions {
    padding: 1rem 2rem 0 2rem;
}

.recipe-header {
    padding-bottom: 1rem;
}

.recipe-title {
    text-align: center;
    font-family: 'Englebert', sans-serif;
    padding-bottom: .5rem;
    line-height: 2.5rem;
}

.recipe-header figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servings-info,
.recipe-header ion-icon {
    color: var(--orange);
    margin: 0;
    padding-right: .5rem;
}

.hot-chocolate-img {
    padding: 2rem;
}

.hot-chocolate-img img{
    width: 100%;
    border-radius: 5% 5%;
}

aside.share-options {
    text-align: center;
    font-size: 2rem;
    color: var(--dark-grey);
}

aside.share-options ion-icon {
    padding: 0 1rem;
    color: var(--dark-grey);
}

.recipe h4,
.ingredients {
    text-align: center;
}

span.italic {
    font-style: italic;
}

section.instructions h6 {
    background-color: var(--orange);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'PT sans', sans-serif;
    font-size: 1rem;
    margin: .8rem 0 0 0;
    margin-right: .5rem;
}

.instructions article {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.instructions p {
    max-width: 80%;
}

/*--x-- Recipe Page --x--*/


/*----- Main Footer -----*/

footer {
    background: var(--grey);
}

footer h5 {
    margin: 0;
    padding-bottom: 1rem;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

footer .social-media ion-icon {
    color: white;
    padding: 0 .5rem;
    font-size: 2rem;
}

/*--x-- Main Footer --x--*/


/*----- RESPONSIVE DESIGN -----*/

/* Tablet */
@media screen and (min-width: 480px) {

    .crafts-grid  {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-desktop-only {
        display: grid !important;
    }
}

/* Desktop */
@media screen and (min-width: 760px) {

    /* ----- Global -----*/

    .white-space {
        background: white;
        height: 4rem;
        transform: translateY(-3.9rem);
        z-index: 12;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    h1 {
        padding-top: 0;
    }

    h4 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .btn {
        padding: .7rem 2rem;
    }

    /* --x-- Global --x--*/

    /*----- Hero -----*/

    .hero {
        height: 80vh;
    }

    .social-media-hero {
        top: 0;
        position: absolute;
        padding: 1rem;
        left: 0;
    }

    /*--x-- Hero --x--*/

    /* ----- Top crafts grid ----- */

    .crafts-grid {
        transform: translateY(-1.5rem);
        grid-template-columns: repeat(3, 1fr);
    }

    .top-crafts.basic-styling {
        padding-top: 0;
    }

    .top-crafts h2 {
        transform: translateY(-3rem);
    }

    .grid-desktop-only {
        display: grid !important;
    }

    .crafts-grid-boxes {
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    /* --x-- Top crafts grid --x-- */

    /* ----- Subscribe ----- */

    article.subscribe p {
        max-width: 30%; 
        margin: 0 auto;
        padding: 1em 0;
    }

    /* --x-- Subscribe --x-- */

    /* ----- Hot chocolate ----- */

    article.hot-chocolate {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
    }

    article.hot-chocolate figure {
        order: 1;
        grid-row: 1 / 3;
    }

    article.hot-chocolate section {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        align-self: flex-end;
    }

    .btn-white {
        align-self: center;
        justify-self: flex-start;
    }

    /* --x-- Hot chocolate --x-- */

    /* ----- Recipe page ----- */

    .recipe-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 3rem;
        padding-left: 3rem;
    }

    figure.hot-chocolate-img {
        grid-row: 1 / 2;
        padding-top: 4rem;
        align-self: center;
    }

    section.instructions {
        grid-row: 2/3;
        grid-column: 2/4;
        padding-top: 0;
        align-self: center;
    }

    section.ingredients {
       align-self:  center;
       padding-top: 0 !important;
    }

    .recipe h4, 
    .recipe p {
        text-align: left;
    }

    aside.share-options {
        grid-row: 2/3;
        grid-column: 1;
    }

    .recipe.basic-styling {
        padding-top: 0;
    }

    .recipe-header {
        transform: translateY(-1.5rem);
    }

    .recipe-title {
        font-size: 2.5rem;
    }

    /* --x-- Recipe page --x-- */

    /* ----- Animations Desktop only ----- */

    .crafts-grid-boxes:hover {
        transform: scale(1.1);
        font-size: 3rem;
    }

    section.go-to-all-crafts h4:hover {
        color: var(--orange);
        transform: translateX(5px);
        transition: all .5s ease;
    }

    ion-icon:hover {
        transform: scale(1.1);
        transition: all .5s ease;
        color: var(--orange) !important;
    }

    .btn:hover {
        transform: scale(1.05);
    }

    .btn-orange:hover {
        background: rgb(150, 64, 11);
    }

    .btn-white:hover {
        background: rgb(226, 226, 226); 
    }

    /* --x-- Animations Desktop only --x-- */
}

/*--x-- RESPONSIVE DESIGN --x--*/